h1 {
    margin: 0 auto 0 auto;
    padding: 0.5em;
    text-align: center;
    font-size: 2.5em;
    background-color: #0A0F0D;
    letter-spacing: 0.5em;
}

#gradient-text {
    background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: #0A0F0D;
}

#btn-placement {
    margin-left: 5em;
    margin-right: 5em;

}

#GIF-area {
    margin-top: 1.5em;
}

#GIF-form {
    margin: 1.5em;
    padding: 2em;
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 8px;

}

label {
    margin-right: 0.5em;
}

#GIF-input {
    border: 1px solid transparent;
    outline: none;
    color: #da1b60;
}

#add-GIF {
    text-align: center;
    margin-top: 1.5em;
}

.gifs {
    margin: 0.5em;
}

img {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


  #GIF-area {
      margin: 0 auto 0 auto;
      width: 75%;
  }

  .close {
      margin-left: 0.5em;
      font-size: 20px;
      color: white;
      border: 1px solid transparent;
      outline: none;
  }

  .close:focus {
      border: 1px solid transparent;
      outline: none;
  }

  .textbox {
      position: relative;
      bottom: -40px;
      background-color:rgba(240, 255, 29, 0.3);
      color: white;

  }





